<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Create Model!</legend>
<%= form_for @convnetimage, multipart: true do |f| %>
  <% if flash[:errors].try(:any?) %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(flash[:errors].keys.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

  <div class="form-group">
    <%= f.label :cover %>
    <%= f.file_field :cover, class: "form-control", :placeholder => "cover image" %>
  </div>
  <div class="form-group">
    <%= f.label :dataset %>
    <%= f.file_field :dataset, class: "form-control", :placeholder => "dataset used" %>
  </div>
  <div class="form-group">
    <%= f.label :snippet %>
    <%= f.file_field :snippet, class: "form-control", :placeholder => "dataset used" %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", :placeholder => "name of model" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", :placeholder => "tell us what you are modelling" %>
  </div>
  <div class="form-group">
    <%= f.label :size %><br>
    <%= f.text_area :size, class: "form-control", :placeholder => "In thousands, how many images are in your training data?" %>
  </div>
  <div class="form-group">
    <%= f.label :accuracy %><br>
    <%= f.text_area :accuracy, class: "form-control", :placeholder => "Express accuracy as a percent" %>
  </div>
  <div class="form-group">
    <%= f.label :api %><br>
    <%= f.text_field :api, class: "form-control", :placeholder => "API from Ersatz Labs" %>
  </div>
  <div class="field">
    <%= f.label :iterations %><br>
    <%= f.text_field :iterations, class: "form-control", :placeholder => "iterations acquired from API GET request" %>
  </div>
  <div class="form-group">
    <%= f.button "Connect Neuron", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Firing Neuron..."} %>
  </div>
</br>
</br>
<% end %>
</div>
</div>
</div>
