<p id="notice"><%= notice %></p>
<div class="center">
<%= link_to new_convnetimage_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
  <i class="glyphicon glyphicon-plus"></i> New Brain
<% end %>
</div>

<div class="center">
<div class="row">
  <% @convnetimages.each do |convnetimage| %>
   <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <%= image_tag convnetimage.cover.url(:medium) %>
        <div class="panel-footer">
        <h4><%= convnetimage.name %>
        <span class="label label-default"><%= convnetimage.size %>K images</span>
        <span class="label label-success"><%= convnetimage.accuracy %>%</span></h4>
          <% if policy(convnetimage).show? %>
          <%= link_to 'Use', convnetimage, class: "btn btn-primary"%>
          <% end %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
          <%= link_to 'Edit', edit_convnetimage_path(convnetimage), class: "glyphicon glyphicon-pencil" %>
          <%= link_to 'Destroy', convnetimage, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  <% end %>

<br>
