<br>
<br>
<br>
<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">behind every image is a story</h2>
                <hr class="light">
                <p class="text-faded">Image and language recognition has the potential to move beyond classifying simple objects or text. For example, detecting "aging pavement" from an image is quite doable. It's obvious. But, we can also drill down to finer nuance and tell the pavement is likely aging because "X" causes. </p>
                <a href="users/sign_up" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<p id="notice"><%= notice %></p>
<div class="center">
            <% if user_signed_in? %>
            <% if current_user.admin? %>
<%= link_to new_convnetimage_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
  <i class="glyphicon glyphicon-plus"></i> New Brain
<% end %>
<% end %>
<% end %>
</div>

<div class="container">
<div class="row">
  <% @convnetimages.each do |convnetimage| %>
   <div class="col-md-3 col-sm-4 col-xs-12 text-center">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <%= image_tag convnetimage.cover.url(:medium) %>
        <div class="panel-footer">
        <h4><%= convnetimage.name %>
        <span class="label label-default"><%= convnetimage.size %>K images</span>
        <span class="label label-success"><%= convnetimage.accuracy %>%</span></h4>
        <%= link_to 'Use', convnetimage, class: "btn btn-primary", :"data-no-turbolink" => true %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
          <%= link_to 'Edit', edit_convnetimage_path(convnetimage), class: "glyphicon glyphicon-pencil" %>
          <%= link_to 'Destroy', convnetimage, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
      </div>
  <% end %>
  </div>
  </div>
<br>
