<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">  
<div class="center">
<div class="container">
  <div class="row user-menu-container square">
    <div class="col-md-14 user-details">
      <div class="row coralbg white">
        <div class="col-md-6 no-pad">
          <div class="user-pad">
            <h3><%= @convnetimage.name %></h3>
          </div>
        </div>
        <div class="col-md-6 no-pad">
          <div class="user-image">
            <%= image_tag @convnetimage.cover.url(:medium) %>
          </div>
        </div>
      </div>
      <div class ="row overview">
        <div class="col-md-4 user-pad text-center">
          <h3>TRAINING DATA</h3>
          <h4><%="#{@convnetimage.size}K images" %></h4>
        </div>
      <div class="col-md-4 user-pad text-center">
        <h3>ACCURACY</h3>
        <h4><%="#{@convnetimage.accuracy}%" %></h4>
      </div>
      <div class="col-md-4 user-pad text-center">
        <h3>CREATED BY</h3>
        <h4><%="#{@convnetimage.user.name}" %></h4>
    </div>
  </div>
  </div>
</div>
</div>
</div>
<table class="table">
  <% @convnetimage.convnetimage_results.each do |convnetimage_result| %>
    <tr>
      <td><%= convnetimage_result.response_id %></td>
      <td><%= convnetimage_result.state %></td>
      <td><%= convnetimage_result.labels.join(', ') %></td>
   </tr>
  <% end %>
</table>
<%= form_for @convnetimage_result do |f| %>
  <%= f.hidden_field :convnetimage_id, value: @convnetimage.id %>
  <%= f.label :image %>
  <%= f.file_field :image, class: "form-control" %>

  <div class="form-group">
    <%= submit_tag 'fire neurons', class: "btn btn-primary" %>
  </div>
<% end %>
<div class="center">
  <div class="fb-comments" data-href="http://localhost:3000/models#{model.id}" data-width="600" data-numposts="5"></div>
</div>

</br>
</br>
</br>

<%= link_to 'Back', convnetimages_path %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
<%= link_to 'Edit', edit_convnetimage_path(@convnetimage) %> |
<% end %>
          <% end %>

