<%= form_for new_natlang_result, remote: true do |f| %>
  <%= f.hidden_field :natlang_id, value: natlang.id %>
  <span class="form-inline">
  <span class="form-group">
  	<%= f.label :value, 'Complaint:' %>
  	<%= f.text_area :value, :size =>"60x3", class: "form-control", placeholder:"Example: the gutter near my driveway keeps flooding when it rains" %>
</span>
</span>
<br>
<br>
  <div class="form-group">
    <%= submit_tag 'classify', class: "btn btn-danger" %>
  </div>
<% end %>
