<%= form_for new_natlang_result, remote: true do |f| %>
  <%= f.hidden_field :natlang_id, value: natlang.id %>
  <span class="form-inline">
  <span class="form-group">
  	<%= f.label :value, 'Complaint:' %>
  	<%= f.text_area :value, :size =>"100x1", class: "form-control", placeholder:"Example: the gutter near my driveway keeps flooding when it rains" %>
</span>
</span>
<br>
<br>
  <div class="form-group">
    <%= submit_tag 'classify', class: "btn btn-danger" %>
  </div>
<% end %>
    <h4 class="section-heading">top 5 predictions for this sentence:</h4>
    <table class="table">
            <thead>
      <tr>
        <th>Prediction</th>
        <th>Probability</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Flood</td>
        <td>83.1%</td>
        </tr>
        <tr>
        <td>Drain Problem</td>
        <td>12.3%</td>
      </tr>
      <tr>
        <td>Trash</td>
        <td>4.0%</td>
      </tr>
      <tr>
        <td>Pothole</td>
        <td>0.4%</td>
      </tr>
      <tr>
        <td>Street Light</td>
        <td>0.2%</td>
      </tr>
    </tbody>
        </table>