<p id="notice"><%= notice %></p>
<div class="center">
<%= link_to new_natlang_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
  <i class="glyphicon glyphicon-plus"></i> New Brain
<% end %>
</div>

<div class="center">
<div class="row">
  <% @natlangs.each do |natlang| %>
  <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag natlang.image.url(:medium) %>
        <div class="caption">
        <h3><%= natlang.name %></h3>
          <%= link_to 'Use', natlang, class: "btn btn-primary"%>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
          <%= link_to 'Edit', edit_natlang_path(natlang), class: "glyphicon glyphicon-pencil" %>
          <%= link_to 'Destroy', natlang, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<br>
