
<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                            <br>
<br>
<br>
                <h2 class="section-heading">less siri, more jarvis</h2>
                <hr class="light">
                <p class="text-faded">Natural language processing (NLP) is a tool that allows computers to derive meaning from human or natural language input. These inputs can vary from a few words and sentences to long paragraphs. The outputs can also vary depending on what the computer was trained on. For example, a database of 3-1-1 services complaints that contains the respective action type can be use this experience to automatically predict future action types on future complaints.</p>
                <a href="users/sign_up" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<p id="notice"><%= notice %></p>
<div class="center">
<% if current_user.admin? %>
<%= link_to new_natlang_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
  <i class="glyphicon glyphicon-plus"></i> New Brain
<% end %>
<% end %>
</div>

</br>
<div class="container">
<div class="row">
  <% @natlangs.each do |natlang| %>
   <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="panel panel-primary text-center">
      <div class="panel-body">
        <%= image_tag natlang.image.url(:medium) %>
        <div class="panel-footer">
        <h4><%= natlang.name %>
        <span class="label label-default"><%= natlang.size %>K expressions</span>
        <span class="label label-success"><%= natlang.accuracy %>%</span></h4>
        <%= link_to 'Use', natlang, class: "btn btn-primary", :"data-no-turbolink" => true %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
          <%= link_to 'Edit', edit_natlang_path(natlang), class: "glyphicon glyphicon-pencil" %>
          <%= link_to 'Destroy', natlang, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
    </div>
    </div>

<div class="container">
<%= will_paginate @natlangs, renderer: BootstrapPagination::Rails  %>
</div>

</br>
</br>
</br>
