<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">  
<div class="center">
<div class="container">
  <div class="row user-menu-container square">
    <div class="col-md-14 user-details">
      <div class="row coralbg white">
        <div class="col-md-6 no-pad">
          <div class="user-pad">
          	<h3><%= @natlang.name %></h3>
            <%= link_to 'Download dataset', @natlang.dataset.url, class:"btn btn-success"%>
            <h4 class="white"><i class="fa fa-twitter"></i><%= "Organization: #{@natlang.organization}" %></h4>
          </div>
        </div>
        <div class="col-md-6 no-pad">
          <div class="user-image">
            <%= image_tag @natlang.image.url(:medium) %>
          </div>
        </div>
      </div>
      <div class ="row overview">
        <div class="col-md-4 user-pad text-center">
          <h3>Training Data</h3>
          <h4><%="#{@natlang.size}K expressions" %></h4>
        </div>
      <div class="col-md-4 user-pad text-center">
        <h3>ACCURACY</h3>
        <h4><%="#{@natlang.accuracy}%" %></h4>
      </div>
      <div class="col-md-4 user-pad text-center">
        <h3>CREATED BY</h3>
        <h4><%="natlang.user.name}" %></h4>
    </div>
  </div>
  </div>
</div>
</div>
</div>

<%= form_for @natlang_result do |f| %>
  <%= f.hidden_field :classifier_id, value: @natlang.id %>
  <%= f.hidden_field :classifier_id, value: @natlang.id %>
  <%= f.label :textput %>
  <%= f.text_area :textput, class: "form-control" %>
  <input type="text" x-webkit-speech />
  <div class="form-group">
    <%= submit_tag 'fire neurons', class: "btn btn-primary" %>
  </div>
<% end %>
<%= link_to 'Back', natlangs_path %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
<%= link_to 'Edit', edit_natlang_path(@natlang) %>
<% end %>
          <% end %> 
