<%= form_for @model, multipart: true do |f| %>
  <% if flash[:errors].try(:any?) %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(flash[:errors].keys.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="form-group">
    <%= f.label :api_key %>
    <%= f.text_field :api_key %>
  </div>

  <div class="form-group">
    <h2>Inputs</h2>
    <%= f.fields_for :inputs do |input_fields| %>
      <%= render 'input_fields', f: input_fields %>
    <% end %>
    <%= link_to_add_association 'add input', f, :inputs %>
  </div>

  <div class="form-group">
    <h2>Outputs</h2>
    <%= f.fields_for :outputs do |output_fields| %>
      <%= render 'output_fields', f: output_fields %>
    <% end %>
    <%= link_to_add_association 'add output', f, :outputs %>
  </div>

  <div class="form-group">
    <%= f.button "Connect Neuron", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Firing Neuron..."} %>
  </div>
<% end %>
