<%= form_tag models_path, multipart: true do %>
  <% if flash[:errors].try(:any?) %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(flash[:errors].keys.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag :Empl, 'Employee id' %><br>
    <%= text_field_tag :Empl, '', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :Project %><br>
    <%= text_area_tag :Project, '', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
