<div class="nested-fields">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", :placeholder => "parameter name"  %>
  </div>

  <div class="form-group">
    <%= f.label :kind %>
    <%= f.text_area :kind, class: "form-control", :placeholder => "text or number?" %>
  </div>

  <div class="form-group">
    <%= f.label :order %>
    <%= f.text_area :order, class: "form-control", :placeholder => "number"  %>
  </div>

  <%= link_to_remove_association "remove input", f %>
</div>