<div class="nested-fields">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>
  
  <div class="form-group">
    <%= f.label :order %>
    <%= f.text_area :order %>
  </div>

  <div class="form-group">
    <%= f.label :default_value %>
    <%= f.text_field :default_value %>
  </div>

  <%= link_to_remove_association "remove output", f %>
</div>
