<p id="notice"><%= notice %></p>
<div class="center">
<% if policy(Model.new).new? %>
<%= link_to new_model_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
  <i class="glyphicon glyphicon-plus"></i> New Brain
<% end %>
<% end %>
</div>

<br>
<div class="container">
<div class="row">
  <% @models.each do |model| %>
  <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="panel panel-primary text-center">
        <div class="panel-body">
            <%= image_tag model.image.url(:medium) %>
            </div>
            <div class="panel-footer">
            <h4><%= model.name %> 
            <span class="label label-default"><%= model.size %>K rows</span>
            <span class="label label-success"><%= model.accuracy %>%</span></h4>
              <%= link_to new_model_path, class: "btn btn-info", data: { no_turbolink: true } do %><i class="glyphicon glyphicon-plus"></i> Request Telepathy
              <% end %>
              <% if policy(model).show? %>
                <%= link_to 'Use', model, class: "btn btn-primary", :"data-no-turbolink" => true %>
              <% end %>
              <% if user_signed_in? %>
              <% if current_user.admin? %>
              <%= link_to 'Edit', edit_model_path(model), class: "glyphicon glyphicon-pencil" %>
              <%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
                <% end %>
              <% end %>
          </div>
</div>
</div>

  <% end %>
</div>
</div>
<br>

<%= will_paginate @models, renderer: BootstrapPagination::Rails  %>

<br>
</br>
</br>
</br>


