
<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                            <br>
<br>
<br>
                <h2 class="section-heading">"I like to use time inputing data into excel" - no one, ever</h2>
                <hr class="light">
                <p class="text-faded">Image recognition is about to get super intelligent. It has the potential to move beyond classifying simple objects. For example, AI that can detect "aging pavement" from an image is quite doable with today's technology. But, in the future, we will be able to take the same image and tell the pavement is likely aging because "X" causes. </p>
                <a href="users/sign_up" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<p id="notice"><%= notice %></p>
<div class="center">
<% if current_user.admin? %>
<%= link_to new_model_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
  <i class="glyphicon glyphicon-plus"></i> New Brain
<% end %>
<% end %>
</div>

<br>
<div class="container">
<div class="row">
  <% @models.each do |model| %>
  <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="panel panel-primary text-center">
        <div class="panel-body">
            <%= image_tag model.image.url(:medium) %>
            <div class="panel-footer">
            <h4><%= model.name %> 
            <span class="label label-default"><%= model.size %>K rows</span>
            <span class="label label-success"><%= model.accuracy %>%</span></h4>
                <%= link_to 'Use', model, class: "btn btn-primary", :"data-no-turbolink" => true %>
              <% if user_signed_in? %>
              <% if current_user.admin? %>
              <%= link_to 'Edit', edit_model_path(model), class: "glyphicon glyphicon-pencil" %>
              <%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
                <% end %>
              <% end %>
          </div>
</div>
</div>
</div>
  <% end %>
</div>
</div>
<br>
<div class="container">
<%= will_paginate @models, renderer: BootstrapPagination::Rails  %>
</div>
<br>
</br>
</br>
</br>


