<script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>

<p id="notice"><%= notice %></p>
<div class="center">
<%= link_to new_model_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
  <i class="glyphicon glyphicon-plus"></i> New Brain
<% end %>
</div>

<br>

<div class="container mt40">
<section class="row">
  <% @models.each do |model| %>
    <article class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
      <div class="thumbnail">
            <%= image_tag model.image.url %>
        <div class="panel-footer">
        <h3><%= model.name %></h3>
          <%= link_to 'Use', model, class: "btn btn-primary"%>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
          <%= link_to 'Edit', edit_model_path(model), class: "glyphicon glyphicon-pencil" %>
          <%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<br>

<%= will_paginate @models, renderer: BootstrapPagination::Rails  %>

<br>
</div>
</br>
</br>
</br>


