<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">  
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= @model.name %></h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Dataset Size</h3>
                        <h4><%="#{@model.size}K rows" %></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>Organization</h3>
                        <h4><%= "#{@model.organization}" %></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bullseye wow bounceIn text-primary" data-wow-delay=".6s"></i>
                        <h3>Accuracy</h3>
                        <h4><%="#{@model.accuracy}%" %></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-download wow bounceIn text-primary" data-wow-delay=".8s"></i>
                        <h3>Understand the Dataset</h3>
                        <%= link_to 'Preview', @model.snippet.url, class:"btn btn-primary"%>
                        <%= link_to 'Full', @model.dataset.url, class:"btn btn-primary"%>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="bg-primary" id="about">
    <div class="container">
<div class="row">
  <div class="col-xs-12 col-md-8">
    <h3>Description</h3>
    <p><%="#{@model.description}"%></p> 
  </div>
  <div class="col-xs-6 col-md-4">
    <h3>Predict</h3>
      <p>Glucose Level: <%= @usages_left %></p>
      <%= form_tag generate_result_model_path(@model) do %>
          <% if flash[:errors].try(:any?) %>
          <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h2><%= pluralize(flash[:errors].keys.count, "error") %> prohibited this model from being saved:</h2>

          <ul>
          <% flash[:errors].each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
        <% @model.inputs.each do |input| %>
          <form class="form-inline">
            <div class="form-group">
            <%= label_tag "model[#{input.name}]", input.name %>
            <%= input_tag_for_input(input) %>
          </div>
        </form>
        <% end %>
      </br>
        <div class="form-group">
          <%= submit_tag 'fire neurons', class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</section>
<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr class="success">
      <% @model.outputs.each do |output| %>
        <th><%= output.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
        <% result.values.each do |value| %>
          <td><%= value %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


<section id="services">
    <div class="container">
<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Comments</h2>
  <div class="fb-comments" data-href="http://localhost:3000/models#{model.id}" data-width="600" data-numposts="5"></div>
</div>
</div>
</div>
<%= link_to 'Back', models_path, class: "btn btn-primary" %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
<%= link_to 'Edit', edit_model_path(@model), class: "btn btn-link" %>
<% end %>
          <% end %>
</section>


