<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">  
<div class="center">
<div class="container">
  <div class="row user-menu-container square">
    <div class="col-md-14 user-details">
      <div class="row coralbg white">
        <div class="col-md-6 no-pad">
          <div class="user-pad">
            <h3><%= @model.name %></h3>
            <h4 class="white"><i class="fa fa-check-circle-o"></i><%= "Algorithm: #{@model.algorithm}" %></h4>
            <h4 class="white"><i class="fa fa-twitter"></i><%= "Organization: #{@model.organization}" %></h4>
          </div>
        </div>
        <div class="col-md-6 no-pad">
          <div class="user-image">
            <%= image_tag @model.image.url(:medium) %>
          </div>
        </div>
      </div>
      <div class ="row overview">
        <div class="col-md-4 user-pad text-center">
          <h3>Training Data</h3>
          <h4><%="#{@model.size}K rows" %></h4>
        </div>
      <div class="col-md-4 user-pad text-center">
        <h3>ACCURACY/COD</h3>
        <h4><%="#{@model.accuracy}%" %></h4>
      </div>
      <div class="col-md-4 user-pad text-center">
        <h3>CREATED BY</h3>
        <h4><%="#{@model.user.name}" %></h4>
    </div>
  </div>
  </div>
</div>
</div>
</div>

<form class="container">
  <div class="row">
    <div class="col-md-3">
  <%= form_tag generate_result_model_path(@model) do %>
    <% @model.inputs.each do |input| %>
      <div class="form-group">
        <%= label_tag "model[#{input.name}]", input.name %>
        <%= input_tag_for_input(input) %>
      </div>
    <% end %>
      </div>
  </div>
  </form>
    <div class="form-group">
      <%= submit_tag 'fire neurons', class: "btn btn-primary" %>
    </div>
  <% end %>



<div class="row">
  <table class="table">
    <thead>

      <% @model.outputs.each do |output| %>
        <th><%= output.name %></th>
      <% end %>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
        <% result.values.each do |value| %>
          <td><%= value %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="center">
  <div class="fb-comments" data-href="http://localhost:3000/models#{model.id}" data-width="600" data-numposts="5"></div>
</div>
<%= link_to 'Back', models_path, class: "btn btn-primary" %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
<%= link_to 'Edit', edit_model_path(@model), class: "btn btn-link" %>
<% end %>
          <% end %>
