
<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br>
<br>
<br>
                <h2 class="section-heading">Open Data</h2>
                <hr class="light">
                <p class="text-faded">GovMind runs on entirely on public data. The following are used to augment our datasets: a) web scraped images, text, and data from public web sites, b) Amazon Turks to structure unorganized data at scale, and c) batch snip video into millions of images. Currently, “open data” largely focuses on tabular data – we want image and text to be part of the discussion as well. </p>
                <a href="users/sign_up" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</aside>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th class="center">Purpose</th>
    <th class="center">Organization</th>
    <th class="center">Snippet</th>
    <th class="center">Full Dataset</th>
    <th class="center">Content</th>
    <th class="center">Full File Size</th>
</tr>

  <% @datagalleries.each do |datagallery| %>
<tr>
            <td><%= datagallery.name %></td>
            <td><%= datagallery.organization %></td>
            <td><%= link_to 'Dataset Snippet', datagallery.snippet.url, class:"btn btn-primary"%></td>
            <td><%= link_to 'Full dataset', datagallery.dataset.url, class:"btn btn-primary"%></td>
            <td><%= datagallery.dataset_content_type %></td>
            <td><%= number_to_human_size(datagallery.dataset_file_size) %></td>
              </td>
            </tr>
            <% end %>
          </table>
<br>

<div class="container">
<%= will_paginate @datagallery, renderer: BootstrapPagination::Rails  %>
</div>

<% if user_signed_in? %>
<% if current_user.admin? %>
<div class="center">
<%= link_to new_datagallery_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
  <i class="glyphicon glyphicon-plus"></i> New Dataset
<% end %>
</div>
<% end %>
<% end %>
