<!--nav class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "GovMind", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AI Platforms <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://azure.microsoft.com/en-us/services/machine-learning/">Azure ML Studio</a></li>
            <li><a href="http://aws.amazon.com/machine-learning/">Amazon ML</a></li>
            <li><a href="http://www.ersatzlabs.com/">Deep Learning</a></li>
          </ul>
        </li>
      </ul>
<ul class="nav navbar-nav">
       <div class="fb-like" data-href="https://govmind.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
</ul>
  <% if user_signed_in? %>
  <%= form_tag search_models_path, method: :get, class: "navbar-form navbar-left" do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      </p>
  <% end %>
  <% end %>
      <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><%= link_to "Data", datagalleries_path %></li> 
              <li><%= link_to "Newsfeed", activities_path %></li> 
                        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brains<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Analytics", models_path, :"data-no-turbolink"=>true %></li> 
            <li><%= link_to "Vision", convnetimages_path %></li> 
            <li><%= link_to "Language", natlangs_path %></li>
            <li><%= link_to "Audio (Coming Soon)", natlangs_path %></li>
            <li><%= link_to "Smell (Coming Soon)", natlangs_path %></li>
          </ul>
        </li>
                                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
        <li><%= link_to "Account", maker_path %></li> 
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><a href="/pages/about">About</a></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav -->

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">GovMind</a>
        </div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
       <div class="fb-like" data-href="https://govmind.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
</ul>
  <% if user_signed_in? %>
  <%= form_tag search_models_path, method: :get, class: "navbar-form navbar-left" do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      </p>
  <% end %>
  <% end %>
      <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><%= link_to "Data", datagalleries_path %></li> 
                        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brains<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Analytics", models_path, :"data-no-turbolink"=>true %></li> 
            <li><%= link_to "Vision", convnetimages_path %></li> 
            <li><%= link_to "Language", natlangs_path %></li>
            <li><%= link_to "Audio (Coming Soon)", natlangs_path %></li>
            <li><%= link_to "Smell (Coming Soon)", natlangs_path %></li>
          </ul>
        </li>
                                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
        <li><%= link_to "Account", maker_path %></li> 
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><a href="/pages/about">About</a></li>
      <% end %>
      </ul>
    </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
